extends ./assets/jade/templates/default.jade

block title
  title about Index

block content
  h1.page-heading about Index

  h2 i make this all this shit by myself, heres how i do it

  p moniker i've created to bridge understanding: 4'D's:
  ol
    li Design: creating a solution to your problem
    li Development: building a working solution
    li Deployment: publishing and maintaining the product
    li Data: management of your digital information

  h2 full-stack developer
  p most companies separate the front end from the back end
  p full-stack developers can do it all

  h2 my stack - static site generators
  h3 past
  p mixture: http://mixture.io/
  p ruby 
  p liquid - templating
  p jekyll: http://jekyllrb.com/
  h3 current
  h4 made my own: technomad
  p gulp 
  p templating: jade
  p sass
  p markdown

  h2 my tools
  p text editor - sublime text
  p http://www.sublimetext.com/
  p https://en.wikipedia.org/wiki/Text_editor
  p gulp - streaming build system: gulpjs.com
  p npm
  p preprocessors
  p jade
  p sass
  p markdown

  h2 languages
  p html 
  p jade
  p css 
  p sass
  p javascript
  p markdown

  h2 workflow: ...