extends ./assets/jade/templates/default.jade

block title
  title contact Index

block content
  h1.page-heading contact Index
  h2 you can reach me at any of these 
  p email
  p phone
  p twitter
  p github
