//- -
//-   //- TODO
//-   {
//-     'unorganized' : [
//-       'config.jade',
//-       '-var=title IN config.jade && /includes/head.jade',
//-       'mixin 4 todo span-item',
//-       'title mixin',
//-       '? include todo.json',
//-       ''
//-     ],
//-     'organized' : [
//-       'future': {

//-       },
//-       'present': {

//-       },
//-       'imperfect': {

//-       },
//-       'past': {

//-       }
//-     ]
//-   }




extends ./assets/jade/templates/default.jade

block title
  title TODO Index

block content
  -
    unorganized = [
      'config.jade',
      '-var=title IN config.jade && /includes/head.jade',
      'mixin 4 todo span-item',
      'title mixin',
      '? include todo.json'
    ]

  h1.page-heading TODO Index

  h2 unorganized

  mixin todo--item(title)
    label
      input(type='checkbox')
      span= title
  
  ol
    each title in unorganized
      li 
        +todo--item(title)
      br

  //- .home
  //-   h1.page-heading TODO 
  //-   //- p.rss-subscribe - subscribe 
  //-   //-   a(href='{{ "/feed.xml" | prepend: site.baseurl }}') via RSS
  //-   ul.post-list

  //-     //- {% for post in site.posts %}
  //-     //- li
  //-     //-   span.post-meta {{ post.date | date: "%b %-d, %Y" }}
  //-     //-   h2: a.post-link(href='{{ post.url | prepend: site.baseurl }}') {{ post.title }}
  //-     //- {% endfor %}
