extends ./assets/jade/templates/default.jade

block title
  title technomad Index

block content
  h1 picture testing
  //- img(src='http://i.imgur.com/r9VNZA6l.jpg')
  .womHeadCircle-butts
  //-
    http://froggie92.imgur.com/all/#3
    http://i.imgur.com/6MIVOfu.png
