extends ./assets/jade/templates/default.jade

block content
  include ./assets/jade/includes/date.jade
//-
  script document.write( Date() );
  p Wed Oct 14 2015 21:32:31 GMT-0400 (EDT)
  p 2015 10 14 Wed 21:32:31 GMT-0400 (EDT)
//-
  ===
  _housekeeping
  http://readwrite.com/2014/08/14/cloud9-koding-nitrousio-integrated-development-environment-ide-coding
  https://www.reddit.com/r/webdev/comments/3lxphu/poke_holes_in_my_oneman_development_procedures/
  _housekeeping - Thu Oct 15 2015 04:51:25 GMT-0400 (EDT) - lloyd
  http://jek2jade-wommy.c9.io:8081/runningDoc.html
  _housekeeping - Wed Oct 21 2015 14:37:11 GMT-0400 (EDT) - earls
  wordpress-esque ? admin middleware
    https://www.reddit.com/r/ruby/comments/3oz41v/a_cms_for_static_website_made_with_middleman_i/
      http://prose.io/#wommy
      https://www.contentful.com/
      https://prismic.io/
  https://www.reddit.com/r/reactjs/comments/3p0dr2/most_preferred_ide/
    atom
      https://github.com/codingtwinky/atom-ungit
  https://www.reddit.com/r/javascript/comments/3pn3w6/you_might_not_need_gulpjs/
    http://blog.keithcirkel.co.uk/how-to-use-npm-as-a-build-tool/
  using gulp with jekyll
    https://www.npmjs.com/package/generator-jekyllized
      https://github.com/poole/lanyon
        http://hyde.getpoole.com/
    http://blog.webbb.be/use-jekyll-with-gulp/
    http://blog.iansinnott.com/super-birthday-post/
    http://lifes.gd/2015/02/24/my-gulp-workflow.html
    http://stefanimhoff.de/2014/gulp-tutorial-3-build-clean-jekyll/
    http://atsh.me/blog/building-jekyll-with-gulp/
  https://www.reddit.com/r/javascript/comments/3p4kl2/webpack_your_bags/
  how to use webpack with jekyll
    http://braddenver.com/blog/2015/react-static-site.html
    https://news.ycombinator.com/item?id=10289168
      https://github.com/gatsbyjs/gatsby/blob/master/README.md
    http://sandbox.github.io/2015/08/27/react-in-jekyll/
    http://www.dahuatu.com/using-webpack-with-gulp/
  _housekeeping - Thu Oct 22 2015 12:58:57 GMT-0400 (EDT) - earls
  http://handlebarsjs.com/
  https://en.wikipedia.org/wiki/Backbone.js
  https://en.wikipedia.org/wiki/CoffeeScript
  _housekeeping - "Fri Oct 23 2015 01:48:04 GMT-0400 (EDT)" - lloyd
  http://nodejs.blog.br/2015/02/generating-blog-sitemap-nodejs-express-framework
  https://www.npmjs.com/package/sitemap
  https://coderwall.com/p/ayw1uq/straightforward-sitemap-xml-generation-in-node-js-applications
  https://www.quora.com/How-do-sitemap-via-URL-generators-work-I-am-interested-in-building-one-with-node-js-but-havent-had-any-luck-researching-how-they-actually-produce-the-link-structure
  node js sitemap
  https://www.siteground.com/tutorials/sitemap/sitemap_validation.htm
  https://www.siteground.com/tutorials/sitemap/sitemap_example.htm
  https://www.siteground.com/tutorials/sitemap/sitemap_format.htm
  https://www.siteground.com/tutorials/sitemap/
  how to create sitemap
  http://www.sitepoint.com/9-javascript-libraries-working-with-local-storage/
  -http://pouchdb.com/
  javascript library database
  http://akdubya.github.io/dustjs/
  https://github.com/facebook/flux/tree/master/examples/flux-todomvc
  http://blog.andrewray.me/flux-for-stupid-people/
  http://blog.andrewray.me/reactjs-for-stupid-people/
  _hk "Fri Oct 23 2015 14:34:34 GMT-0400 (Eastern Daylight Time)" - earls
  https://www.campaignmonitor.com/blog/email-marketing/2013/06/tip-avoid-using-mailto-links-in-html-email/
  -form modal
  http://rot13.florianbersier.com/
  -Email Obfuscator
  http://markdotto.com/
    http://markdotto.com/talks/
    http://markdotto.com/projects/
      http://wtfhtmlcss.com/
  -express sitemap -g:generating sitemap with express
  https://www.npmjs.com/package/express-sitemap
  http://nodejs.blog.br/2015/02/generating-blog-sitemap-nodejs-express-framework
  -express - http://expressjs.com/
  http://expressjs.com/guide/routing.html
  g pouchdb
  https://blog.engineyard.com/2014/an-introduction-to-pouchdb
  http://www.sitepoint.com/building-offline-first-app-pouchdb/
  g node http server
  http://blog.modulus.io/build-your-first-http-server-in-nodejs
  https://www.npmjs.com/package/node-http-server
  -pouchdb w express - http://expressjs.com/guide/database-integration.html
  http://www.sitepoint.com/building-offline-first-app-pouchdb/
  -lanyon - https://github.com/poole/lanyon
  _kh "Thu Oct 29 2015 16:28:54 GMT-0400 (Eastern Daylight Time)" - earls
  https://atom.io/packages/imdone-atom
  https://hubot.github.com/
  http://coffeescript.org/#literate
  http://maxtaco.github.io/coffee-script/
  http://pouchdb.com/
  http://fortawesome.github.io/Font-Awesome/examples/
  https://fortawesome.github.io/Font-Awesome/icons/
  http://wommytilliams.com/index.html
  https://drive.google.com/drive/my-drive
  http://babeljs.io/docs/learn-es2015/
  -horoscope -g mars in pisces - copy topX links

