body{
  flex-wrap: wrap;
  align-content: space-around;
}

nav{
  flex-grow: 1;

  flex-direction: column;
  align-items: center;

  height: 100vh;

  width: 35%;

  padding:2rem;

  
}

.wrapper,
footer{
  width: 60%;
}