//- - var page.title = false

header.site-header
  .wrapper
    a.site-title(href='/')
      //- {{ site.title }}
    nav.site-nav
      //- {% for page in site.pages %}
      //-   if page.title
      //-     a.page-link(href='{{ page.url }}')
      //-       {{ page.title }}
      //- {% endfor %}
