- pages = ['index','blog','todo']

mixin nav__links(pages)
  nav
    each page in pages
      a(href='./'+page+'.html')= page
      br
      br
    
    //- - var i = 0
    //- while i < pages.length
    //-   pages[i] a(href='./'+page+'.html')= page
    //-   - i++

    //- each page in pages
    //-   if page = home
    //-     a(href='./index.html')= page  
    //-   else
    //-     a(href='./'+page+'.html')= page

+nav__links(pages)

include ./hr.jade

//- header.site-header
//-   .wrapper
//-     a.site-title(href='/')
//-       //- {{ site.title }}
//-     nav.site-nav
//-       //- {% for page in site.pages %}
//-       //-   if page.title
//-       //-     a.page-link(href='{{ page.url }}')
//-       //-       {{ page.title }}
//-       //- {% endfor %}
